<table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
    <tbody>
        <tr>
            <td style="width: 98.1074%;"><span>Hello,</span></td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">Do not share your OTP with anyone.</td>
        </tr>
        <tr>
            <td style="width: 98.1074%;">Your Demo OTP is <strong><%= code%>;</strong></td>
        </tr>
    </tbody>
</table>